<template>
  <v-container class="err">
    <h1 >404</h1> <p>error</p>
   </v-container>
</template>

<style scoped>
.err{
  display: flex;
  font-size: 10vh;
  margin-top: 35vh;
  margin-left: 40vw;
}
</style>